REACT_NATIVE_PACKAGER_HOSTNAME=192.168.1.xxx

# Supabase — copie da aba Project Settings > API do seu projeto
EXPO_PUBLIC_SUPABASE_URL=https://dhkutzfaksxixqmktcvm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_DsqdT48E7-ouIfxxxTSGog_NIaOzGng
